td {
  border-radius: 10px;
}

tr {
  margin-bottom: 5px;
}

tbody tr {
  height: 50px;

  text-align: center;

  font-size: 15px;
  color: #848d97;

  background-color: #fff;

  margin-bottom: 5px;
}

tbody tr:nth-child(2n) {
  background-color: #cee5f4;
}
